.page-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 75px;

    .footer-content {
        display: flex;

        @include media-breakpoint-down(xs) { 
            flex-direction: column;
            width: 100%;
        }
        
        .footer-content-item {
            flex: 0 0 45%;
            justify-content: space-between;

            p:empty() {
                display: none;
            }

            &:nth-child(1) {
                padding-right: 10%;

                @include media-breakpoint-down(xs) {
                    padding-right: unset;
                }                
            }
        }
    }

    .footer-references {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 0;

        @include media-breakpoint-down(xs) {
            flex-direction: column;
        }
    }
}