/*
@package: wwd blankslate
*/
@import "_variables";
@import "vendor/_bootstrap";
@import "vendor/_animate";
@import "_mixins";
@import "_woocommerce";
@import "_layout";
@import "_core";
@import "_carousel";
@import "_header";
@import "_sidebar";
@import "_page";
@import "_footer";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $body-font;
    color: $base-font-color;
    font-size: $base-font-size;
    background-color: cv(deepgreen);
}